.container-sm {
 margin-top: 100px;
 width: 400px;
 border: solid;
 padding: 10px;
 border-radius: 10px;
 background-color: bisque;
}
.h1 {
 text-align: center;
}
h5 {
 text-align: center;
}
.col1 {
 width: 200px;
 border: solid;
}
.hide {
 display: none;
}
